openapi: 3.0.0   # Open api version

info:
  title: GPT2-MCU
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is generate MCU script as array.
    ---
      How to use:
      * First, Choose MCU character name.
      * Second, Fill what the character will say in text. This will be base of script.
      * And then, Fill number in length. Text is created as long as "length". I recommend between 100 and 300.
      * If length is so big, generate time will be long.
    ---
    And you can use this in [demo page](https://master-gpt2-mcu-fpem123.endpoint.ainize.ai/).

    Fine tuning data reference >> [Marvel Cinematic Universe Dialogue](https://www.kaggle.com/pdunton/marvel-cinematic-universe-dialogue)

servers:
  - url: https://master-gpt2-mcu-fpem123.endpoint.ainize.ai/

paths:
  /mcu:
    post:
      requestBody:
        required: true
        description: |
          This request will generate MCU script.

          Request body example

              name: TONY STARK
              text: Today, we
              length: 150

        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum: [TONY STARK, STEVE ROGERS, THOR, T'CHALLA, BRUCE BANNER, NATASHA ROMANOFF,
                         WANDA MAXIMOFF, CLINT BARTON, JAMES RHODES, SAM WILSON, VISION, SCOTT LANG, PETER PARKER]
                  description: "MCU character name."
                text:
                  type: string
                  description: "The base of script."
                length:
                  type: string
                  description: "The size of text."
              required:
                - name
                - text
                - length
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"